*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------HEADER SECTION--------------------------*/

header{
    position: relative;
}

.title{  /*title: "WE ARE CREATIVES*/
    color: white;
    text-align: center;
    width: 100%;
    font-family: 'Fraunces';
    font-size: 2.5em;
    letter-spacing: 0.2em;
    position: absolute;
    top: 30%;
}


.fondoHeader{           /*Header backbround image*/
    width: 100%;
    display: block;
}

.logo{                  /*Logo: Sunnyside at left-top corner"*/
   position: absolute;
   top: 15px;
   left: 25px;
}

.iconMenu{              /*Three horizontal lines en mobile view */
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 15px;
    right: 45px;
    cursor: pointer;
    visibility: visible;
}

.menuDesplegado{        /*Nav menu*/
    position: absolute;
    right: 20px;
    left: 20px;
    top: 70px;
    list-style: none;
    visibility: hidden;
    z-index: 3;
    background-color: white;
}

.trianguloMenu{         /*Litle triangle of the nav menu*/
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 25px 25px;
    border-color: transparent transparent white transparent;
    position: absolute;
    visibility: hidden;
    right: 45px;
    top: 45px;
}

.menuDesplegado li{
    text-align: center;
    margin: 2em;
}

.menuDesplegado a{
    text-decoration: none;
    cursor: pointer;
    color:grey;
    font-family: 'Barlow';
}

.button{
    text-transform: uppercase;
    font-family:'Fraunces';
    color: black;
    background-color:hsl(51, 100%, 49%);
    display: inline-block;
    line-height: 50px;
    height: 50px;
    width: 50%;
    border-radius: 1em;
    margin-top: 2em;
}


/*----------------------SERVICE section--------------------------*/


.featImg img{       /*Img container*/
    width:100%;
    display: block;
}

.featImgTxt img{
    width:100%;
}

.featTxt{           /*Text container*/
    padding: 2em;
    font-family: 'Fraunces';
    text-align: center;
}


.featTxt h1{
    font-size: 2em;
    text-align: center;
}


.featTxt p{
    font-family: 'Barlow';
    font-size: 1em;
    margin: 1em 0;
    line-height: 1.5em;
    color:hsl(213, 9%, 39%)
}

.featTxt a{
    display:block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 900;
    cursor: pointer;
}

.featImgTxt{            /*Text & Img container*/
    font-family: 'Fraunces';
    text-align: center;
    position: relative;  
}

.featImgTxt img{
    display: block;
}

.featImgTxt h1{
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 55%;
    color: hsl(198, 62%, 26%);
}

.featImgTxt p{
    font-family: 'Barlow';
    font-size: 1em;
    margin: 1em 0;
    padding: 0 1em;
    line-height: 1.5em;
    position: absolute;
    width: 100%;
    top: 65%;
    color: hsl(198, 62%, 26%);
}




/*-----------------------Testimonials-----------------------*/


.testimonials{          /*Testimonial container*/
    padding: 4em 2em;
}


.testimonials h1{
    font-family: 'Fraunces';
    letter-spacing: 0.2em;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    color:hsl(213, 9%, 39%);
}

.tCards{                /*Testimonial cards*/
    padding: 2em 0;
}


.tCards h1{
    text-align: center;
    
}

.tCards p{
    text-align: center;
    font-family: 'Barlow';
    font-size: 1em;
    margin: 1em 0;
    line-height: 1.5em;
    color:hsl(213, 9%, 39%);  
}

.tCards img {
    width: 20%;
    display: block;
    margin: 2em auto;
    border-radius: 10em;
}
    
.tCards h2{
    text-align: center;
    font-family: 'Fraunces';
    font-size: 1em;
    font-weight: 900;
    padding: 1em 0;
}

.tCards h3{
    text-align: center;
    font-family: 'Barlow';
    font-size: 0.8em;
    color:hsl(212, 8%, 68%);
}


/*-------------------------Picture Galery----------------------*/

.galery{
    display: flex;
    flex-wrap: wrap;
}

.galery img{
    width: 50%;
}


/*----------------------------Footer----------------------------*/

footer{
    background-color: hsl(167, 44%, 70%);
    display: flex;
    flex-direction: column;
}

footer img{
    width: 200px;
    display: block;
    margin: 4em auto;
}

footer h1{
    font-family: 'Fraunces';
    text-align: center;
    margin: 2.5em auto;
    font-size: 2.5em;
}

footer ul{
    text-align: center;
    position: relative;
    top: -20px;
}

footer li{
    display: inline;
    margin: 0 2.2em;
    text-align: center;
    font-family: 'Barlow';
    font-size: 0.8em;
}

.redes{
    text-align: center;
    display: flex;
    margin: 5em 4em;
    justify-content: space-evenly;
}

footer ul a{
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    color:  hsl(198, 62%, 26%)
}

.redes a{
    cursor: pointer;
    color:  hsl(198, 62%, 26%)
}

.attribution{
    margin: 2em auto;
}

.showhideMenu{              /*Class to show/hide navbar in mobile view*/
    visibility: visible;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }



@media screen and (min-width:770px){
    
    .iconMenu{
        visibility:hidden;
    }

    .trianguloMenu{
        z-index: -5;
    }

    .menuDesplegado{
        background-color: transparent;
        text-align: right;
        top: -40px;
        right: 50px;
        visibility: visible;
    }

    .menuDesplegado li{
        display: inline-block;
    }

    .menuDesplegado a{
        color: white;
    }

    .menuDesplegado .button{
        color: black;
        background-color: white;
        width: 150%;
        border-radius: 5em;
    }

    .logo{
        top: 38px;
     }



    .features{
        display:flex;
        flex-wrap: wrap;
        align-items:stretch;
    }

    
    .featImg, .featImgTxt{
        width: 50%;
        display: inline;
    }

    .featTxt{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    
    .wTestimonials{
        display: flex;
    }

    .tCards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .wTestimonials p{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        height: 150px;
    }

    .wTestimonials img{
        margin:0 auto;
    }

    .galery{
        display: flex;
    }

    .galery img{
        width: 25%;
    }

    .egg{
        order:1;
    }
    .cup{
        order: 4;
    }
    .text1{
        order:2;
    }
    .text2{
        order:3;
    }

    .textimg1{
        order:5;
    }
    .textimg2{
        order:6;
    }


}